﻿@model List<GrowinHouseManagement.Models.PessoaViewModel>

<div class="text-center">
    <h1 class="display-4">Growin House Management</h1>
    <p>Lista de Pessoas no Edificio</p>

</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Primeiro Nome</th>
            <th scope="col">Ultimo Nome</th>
            <th scope="col">Numero Identificação</th>
            <th scope="col">Tipo Identificação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pessoa in Model)
        {
        <tr>
            <th scope="row">@pessoa.Id</th>
            <td>@pessoa.PrimeiroNome</td>
            <td>@pessoa.UltimoNome</td>
            <td>@pessoa.NumeroIdenficacao</td>
            <td>@pessoa.TipoIdentificacao.NomeIdentificacao</td>
        </tr>
        }
    </tbody>
</table>
