﻿@model GrowinHouseManagement.Models.PessoaViewModel

@{
    ViewData["Title"] = "Pessoa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pessoa</h1>
<div asp-validation-summary="ModelOnly"></div>

<form asp-action="CreatePessoa">
    Primeiro Nome: <input asp-for="PrimeiroNome" /> <span asp-validation-for="PrimeiroNome"></span>
    <br />
    Ultimo Nome: <input asp-for="UltimoNome" /> <span asp-validation-for="UltimoNome"></span>
    <br />
    Numero Identificação: <input asp-for="NumeroIdenficacao" /> <span asp-validation-for="NumeroIdenficacao"></span>
    <br />
    Tipo Identificação: <input asp-for="TipoIdentificacaoId" /> <span asp-validation-for="TipoIdentificacaoId"></span>
    <br /><br />
    <input type="submit" value="submtit" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

